
@-webkit-keyframes greenPulse {
  from { color: #6300A8; }
  50% { color: #9915F5; }
  to { color: #6300A8; }
}
@media screen and (min-device-width: 770px) {
  // ORIGNAL SCSS:
  body {
    font-size: 34px;
    margin: 0;
    font-family: 'brandon-grotesque', 'futura-pt';
  }
  .bottombar {
    display: none;
  }
  #wrapper {
    width: 100%;
  }
  #main {
    width: 100%;
  }

  .landing {
    height: 100%;
  }
  .work, .writing, .favs, .contact {
    width: 100%;
    height: 150%;
  }

  .landing {
    border-top: 8px solid #f1c40f;
    background-image:
    linear-gradient(
      #f1c40f, #e8c414
    );
    .landing_content {
      margin-left: 100px;
      margin-top: 30px;
      line-height: 1.2;
      .box {
        z-index: 2000;
        position: relative;
        font-weight: 900;
        letter-spacing: 15px;
        font-size: 2.2em;
      }
      p {
        z-index: 2000;
        position: relative;
        letter-spacing: 2px;
        font-size: 0.8em;
      }
    }
  }

    .work {
      background-image:
      linear-gradient(
        #e8c414, #2ecc71
      );
      z-index: 100;
      .work_content {
        margin-left: 80px;
        position: relative;
        min-width: 800px;
        .first_row {
          height: 400px;
          img {
            width: 380px;
          }
        }
        .icons {
          position: absolute;
          i {
            font-size: 0.5em;
            position: absolute;
            &.active {
              -webkit-animation-name: greenPulse;
              -webkit-animation-duration: 3s;
              -webkit-animation-iteration-count: infinite;
            }
            &.nyc {
              top: -237;
              left: 306;
            }
            &.chi {
              top: -243;
              left: 222;
            }
            &.la {
              top: -190;
              left: 50;
            }
            &.sea {
              top: -286;
              left: 30;
            }
          }
        }
        .job {
          display: inline-block;
          width: 220px;
          position: relative;
          vertical-align: top;
          margin-right: 10px;
          .label {
            font-size: 0.7em;
            font-weight: 100;
            color: black;
            border-bottom: 2px solid black;
            padding-right: 10px;
            &:hover {
              cursor: hand;
            }
            i {
              float: right;
              margin-top: 5px;
              transform: rotate(90deg);
              transition: transform 300ms;
              &.rotate {
                transform: rotate(0deg);
                transition: transform 300ms;
              }
            }
          }
          &.current {
            width: 300px;
            margin-top: 90px;
            margin-left: 40px;
          }
          .job-body {
            display: none;
            overflow: hidden;
            font-size: 0.4em;
            font-family: 'myriad-pro', 'helvetica';
            font-weight: 100;
            a.link-icon {
              position: absolute;
              right: 0;
              margin-top: 10px;
              margin-right: 10px;
              transition: color 300ms;
              text-decoration: none;
              color: black;
            }
            a.text-link {
              transition: color 300ms;
              color: black;
            }
            a:hover {
              color: #9915F5;
              transition: color 300ms;
            }
          }
          &.goldstar {
            margin-left: 30px;
          }
        }
      }
    }

    .writing {
      background-color: #2ecc71;
      z-index: -800;
      font-size: 1em;
      .writing_content {
        padding-top: 50px;
        margin-left: 100px;
        p {
          font-size: 0.5em;
        }
      }
    }

    .favs {
      background-image:
      linear-gradient(
        #2ecc71, #0efdf7
      );
      z-index: -700;
      font-size: 0.4em;
      .fav_content {
        padding-top: 100px;
        margin-left: 100px;
        .intro {
          width: 400px;
          font-size: 1em;
          padding-bottom: 60px;
        }
        .fav_tab {
          vertical-align: top;
          display: inline-block;
          margin-right: 20px;
          &:hover {
            .fav_header {
              &:after {
                margin-bottom: -2px;
                content: '';
                display: block;
                background: #DA4523;
                height: 4px;
                width: 100%;
                transition: 300ms;
              }
            }
          }
          .fav_header {
            margin-bottom: 2px;
            font-size: 1.4em;
            &:after {
              content: '';
              display: block;
              background: black;
              height: 2px;
              width: 100%;
              transition: 300ms;
            }
          }
        }
        p {
          margin: 5px 0;
          font-family: 'myriad-pro', 'helvetica';
          font-weight: 100;
          letter-spacing: 0.2;
          a {
            text-decoration: none;
            color: black;
            &:hover {
              color: #DA4523;
              transition: 300ms;
            }
          }
        }
      }
    }

    .contact {
      background-color: #0DFFFD;
      z-index: -600;
      height: 100%;
      text-align: center;
      background-image:
      linear-gradient(
        #0efdf7, #0DFFFD
      );
      .contact_content {
        padding-top: 100px;
        padding-left: 100px;
        p {
          font-family: 'myriad-pro', 'helvetica';
          font-weight: 200;
          width: 400px;
          text-align: left;
          font-size: 0.5em;
          a {
            color: black;
            display: inline;
            transition: color 300ms;
            &:hover {
              color: #FF26C8;
              transition: color 300ms;
            }
          }
        }
      }
      .right-box {
        background-color: #FF26C8;
        position: relative;
        height: 144px;
        width: 196px;
        top: 115px;
        float: right;
        z-index: 1500;
      }
    }
  .triangle {
    width: 0;
    height: 0;
    border-top: 1100px solid white;
    border-right: 2000px solid transparent;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }
  #sidebar {
    margin-top: 270px;
    right: 0;
    position: absolute;
    z-index: 2100;
  }
  .nav_list {
    float: right;
    width:190px;
    list-style: none;
    z-index: 3000;
    .scrolled & {
      top: 70px;
      right: 0;
      position: fixed;
      z-index: 2000;
    }
    li {
      font-size: 0.6em;
      padding-left: 10px;
      letter-spacing: 2px;
      a {
        text-decoration: none;
        color: #525252;
      }
    }
    li.active {
      border-top: 4px solid black;
      border-left: 4px solid black;
      border-bottom: 4px solid black;
      a {
        color: black;
      }
    }
  }
}
@media screen and (min-width: 1160px) {
  body {
    font-size: 54px;
  }
  #sidebar {
    font-size: 0.8em;
    margin-top: 470px;
  }
  .work {
    .work_content {
      .first_row {
        img {
          width: 470px;
        }
      }
      .icons {
        i {
          &.nyc {
            top: -305;
            left: 378;
          }
          &.chi {
            top: -310;
            left: 271;
          }
          &.la {
            top: -245;
            left: 59;
          }
          &.sea {
            top: -362;
            left: 37;
          }
        }
      }
      .job {
        width: 272px;
        .label {
          font-size: 0.5em;
        }
        &.current {
          margin-top: 130px;
          width: 365px;
        }
        .job-body {
          font-size: 0.3em;
          a.link-icon {
            font-size: 1.3em;
          }
        }
      }
    }
  }
  .favs {
    .fav_content {
      .intro {
        p {
          width: 500px;
        }
      }
      .fav_tab {
        p {
          font-size: 0.8em;
        }

      }
    }
  }
  .contact {
    .contact_content {
      p {
        width: 620px;
      }
    }
    .right-box {
      height: 179px;
      width: 200px;
      top: 128px;
    }
  }
}
@media screen and (max-device-width: 770px) {
  body {
    margin: 0;
    font-size: 54px;
    font-family: 'brandon-grotesque', 'futura-pt', sans-serif;
    background-color: #bdc3c7;
    color: #2c3e50;
  }
  a {
    color: #9C7737;
  }
  #sidebar {
    display: none;
  }
  .bottombar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 140px;
    background-color: #ecf0f1;
    box-shadow: 0 0 10px #2c3e50;
    margin: 0;
    padding-bottom: 40px;
    ul {
      margin: 0;
      padding-left: 0;
      padding-top: 20px;
      li {
        text-align: center;
        width: 18%;
        display: inline-block;
        font-size: 1.8em;
        font-weight: 100;
        img {
          height: 70px;
        }
        a {
          vertical-align: baseline;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  .landing {
    height: 100%;
    .landing_content {
      padding-top: 100px;
      padding-left: 50px;
      .box {
        font-size: 2.6em;
        font-weight: bold;
      }
    }
  }
  .work {
    min-height: 100%;
    .work_content {
      img {
        display: none;
      }
      .icons {
        display: none;
      }
      .job {
        .label {
          height: 150px;
          padding-left: 50px;
          padding-right: 50px;
          padding-top: 20px;
          background-color: #2c3e50;
          color: #bdc3c7;
          font-size: 1.6em;
          i {
            float: right;
          }
        }
        .job-body {
          padding-left: 50px;
          padding-right: 50px;
          display: none;
          font-family: 'myriad-pro', 'helvetica', sans-serif;
          a.link-icon {
            float: right;
          }
        }
      }
    }
  }
  .writing {
    height: 100%;
  }
  .favs {
    min-height: 100%;
    .fav_content {
      margin: 10px;
      .fav_tab {
        border-top: 4px solid #2c3e50;
        .fav_header {
          font-size: 1.6em;
          float: left;
          padding-top: 24px;
          padding-left: 50px;
        }
        p {
          padding-right: 50px;
          text-align: right;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
  .contact {
    height: 110%;
    .contact_content {
      padding: 100px 50px;
    }
  }

}
