$brownish: #DA4523;
$greyish: #ecf0f1;
$tealish: #23DA99;

@-webkit-keyframes purplePulse {
  from { color: $brownish; }
  50% { color: darken($brownish, 20%); }
  to { color: $brownish; }
}
@-moz-keyframes purplePulse {
  from { color: $brownish; }
  50% { color: darken($brownish, 20%); }
  to { color: $brownish; }
}

// ORIGNAL SCSS:
html, body {
  height: 100%;
  min-height: 100%;
}
body {
  font-size: 16px;
  margin: 0;
  font-family: 'adobe-garamond-pro', 'garamond', 'Times New Roman';

}
#main {
  width: 100%;
  height: 100%;
}

.work, .bio, .favs, .contact, .landing {
  width: 100%;
  min-height: 100%;
  background-color: $greyish;
}
.content {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
  z-index: 600;
  p:first-of-type {
    margin-top: 0;
  }
  .header {
    h2 {
      margin-top: 0;
    }
  }
}
ul {
  list-style: none;
}

a {
  color: black;
}
a:hover {
  color: $brownish;
}
a:visited {
  color: $tealish;
}

.landing {
  border-top: 8px solid $greyish;
  .content {
    line-height: 1.2;
    margin: 0 auto;
    padding: 30px 0;
    font-family: 'franklin-gothic-urw', 'helvetica', 'proxima nova';
    .box {
      z-index: 2000;
      position: relative;
      font-weight: 800;
      letter-spacing: 5px;
      font-size: 2.5em;
      margin-bottom: 20px;
    }
    p {
      z-index: 2000;
      position: relative;
      letter-spacing: 2px;
      font-size: 1em;
      margin-top: 20px;
    }
  }
}
.bio {
  background-color: $greyish;
  z-index: 100;
  .content {
    position: relative;
    max-width: 420px;
    p {
      font-size: 1em;
      text-align: justify;
      margin: 1.5em 0;
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      .first-letter {
        font-size: 4.6em;
        padding-right: 10px;
        float: left;
        margin-top: -10px;
      }
      .first-line {
        font-size: 1.4em;
      }
    }
    .first_row {
      height: 400px;
      img {
        width: 380px;
      }
    }
  }
}

.work {
  .content {
    max-width: 420px;

    .job {
      margin-bottom: 60px;
      .company {
        font-size: 1.4em;
        a {
          text-decoration: none;
        }
      }
      .title {
        font-size: 0.8em;
      }
      .desc {
        margin-top: 15px;
        text-align: justify;
      }
      .tags {
        ul {
          list-style: none;
          padding: 0;
        }
        li {
          display: inline-block;
          font-size: 0.8em;
          padding: 3px 5px;
          margin: 3px;
          border-radius: 4px;
          background-color: darken($greyish, 10%);
        }
      }
    }
  }
}

.favs {
  background-color: $greyish;
  .content {
    max-width: 420px;
  }
  ul {
    li {
      padding: 10px 0;
    }
  }
}

.contact {
  background-color: $greyish;
  .content {
    padding-top: 90%;
    max-width: 400px;
    margin: 0 auto;
  }

}
.triangle {
  width: 0;
  height: 0;
  border-top: 2000px solid $tealish;
  border-right: 2000px solid transparent;
  float: left;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
#sidebar {
  margin-top: 270px;
  right: 0;
  position: absolute;
  z-index: 2100;
}
.nav_list {
  float: right;
  width: 150px;
  list-style: none;
  z-index: 3000;
  overflow: hidden;
  transition: width 100ms ease;
  .scrolled & {
    top: 70px;
    right: 0;
    position: fixed;
    z-index: 2000;
  }
  &.small-screen {
    width: 0px;
  }
  li {
    font-family: 'franklin-gothic-urw', 'helvetica', 'proxima nova';
    font-size: 1.4em;
    padding: 5px 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    a {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-decoration: none;
      color: #525252;
    }
  }
  li.active {
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    a {
      color: black;
    }
  }
}
.small-screen-nav-bg {
  background-color: $tealish;
  height: 190px;
  width: 0px;
  top: 86px;
  right: 0;
  position: fixed;
  z-index: 2000;
  box-shadow: 2px 2px 2px gray;
  transition: width 100ms ease;
  &.small-screen {
    width: 147px;
  }
}

@media all and (min-width: 769px) {
  .content {
    margin: 0 25%;
    padding: 100px 0;
  }
  .landing {
    .content {
      .box {
        font-size: 5em;
        letter-spacing: 12px;
      }
      p {
        font-size: 2em;
      }
    }
  }
  .work {
    z-index: 1000;
    .content {
      margin: 0 18%;
    }
  }
  .favs {
    .content {
      max-width: 575px;
      margin: 0 18%;
      ul {
        padding-left: 0;
      }
      .category {
        max-width: 33%;
        margin-right: 3%;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .contact {
    .right-box {
      background-color: $tealish;
      display: block;
      position: relative;
      height: 185px;
      width: 147px;
      top: 90px;
      float: right;
      z-index: 1500;
      box-shadow: 2px 2px 2px gray;
    }
    .content {
      padding-top: 90px;
    }
  }
  #sidebar {
    margin-top: 400px;
  }
  .nav_list {
    &.small-screen {
      width: 150px;
    }
    li {
      font-size: 1.4em;
      line-height: 27px;
    }
  }
  .small-screen-nav-bg {
    display: none;
  }
}
